@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {

  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;


}

.loader {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 400;
  color: black;
  display: none;
  z-index: 1000;
}

.loader.is-loading {
  display: block;
}

button {
  background-color: #4E75FF;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 8px 16px;
}

input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px 16px;
}

input:focus {
  outline: none;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  gap: 8px;
}

.gal_element {
  width: 100px;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.photo-card {
  border: 1px solid #808080;
  width: 360px;
  background-color: white;
}

.gal_element {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  text-align: center;
}

.stat-item {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.stat-title {
  font-weight: 600;
}

.loadMore {
  text-align: center;
}

.loadMore {
  text-align: center;
  display: block;
  margin: 20px auto;
}

.hidden {
  display: none;
}